{% extends 'board/navbar.html' %}
{% block content %}
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12">
            <div class="card border-secondary">
              <div class="card-header">게시글 작성</div>
              <div class="card-body">
                  <form method="post" action="{% url 'board:write' %}">
                      {% csrf_token %}
                      {% for field in form %}
                        <div class="form-group">
                            {% if field.html_name != 'username' %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% endif %}
                            {% if field.html_name == 'content' %}
                            <textarea class="form-control {% if field.errors|length > 0 %}is-invalid{% endif %}"
                                      id="{{ field.id_for_label }}"
                                      name="{{ field.html_name }}">{{ field.value|default_if_none:'' }}</textarea>
                            {% else %}
                            <input type="{{ field.field.widget.input_type }}"
                                   class="form-control {% if field.errors|length > 0 %}is-invalid{% endif %}"
                                   id="{{ field.id_for_label }}"
                                   name="{{ field.html_name }}"
                                   value="{% if field.html_name == 'username' %}{{ request.user.username }}{% else %}{{ field.value|default_if_none:'' }}{% endif %}">
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                      {% endfor %}
                      <input class="btn btn-primary btn-lg btn-block" type="submit" value="저장">
                  </form>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}